{
  "openapi": "3.0.1",
  "info": {
    "title": "Chat",
    "description": "",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.wts.chat/chat",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/v1/message/{id}": {
      "delete": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Excluir mensagem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da mensagem a ser excluída.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMessageDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Obter por ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da mensagem.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMessageDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/sequence/{id}/contact": {
      "delete": {
        "tags": [
          "Sequências"
        ],
        "summary": "Remover contato",
        "description": "Remova um contato de uma sequência.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da sequência.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Filtro de busca do contato.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestSequenceContactDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestSequenceContactDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestSequenceContactDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Sequências"
        ],
        "summary": "Adicionar contato",
        "description": "Adicione um contato em uma sequência.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da sequência.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Filtro de busca do contato.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestSequenceContactDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestSequenceContactDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestSequenceContactDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSequenceContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/sequence/{id}/contact/batch": {
      "delete": {
        "tags": [
          "Sequências"
        ],
        "summary": "Remover contatos",
        "description": "Remova contatos de uma sequência adicionando um filtro.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da sequência.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Parâmetros para remover os contatos. Os filtros são aditivos.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestSequenceBatchContactDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestSequenceBatchContactDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestSequenceBatchContactDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Sequências"
        ],
        "summary": "Adicionar contatos",
        "description": "Adicione contatos em uma sequência adicionando um filtro.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da sequência.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Parâmetros para adicionar os contatos.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestSequenceBatchContactDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestSequenceBatchContactDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestSequenceBatchContactDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSequenceContactDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/session/note/{id}": {
      "delete": {
        "tags": [
          "Conversas"
        ],
        "summary": "Excluir uma nota interna",
        "description": "Este endpoint permite a exclusão de uma nota interna por meio de seu ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMessageDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "Conversas"
        ],
        "summary": "Obter uma nota interna",
        "description": "Este endpoint permite a obtenção de uma nota interna por meio de seu ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMessageDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/channel": {
      "get": {
        "tags": [
          "Canais de Atendimento"
        ],
        "summary": "Listar",
        "description": "Listagem de canais de atendimento.",
        "parameters": [
          {
            "name": "ChannelType",
            "in": "query",
            "description": "Tipo do canal.",
            "schema": {
              "enum": [
                "All",
                "Whatsapp",
                "Messenger",
                "Instagram"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicChannelDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/chatbot": {
      "get": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Listar",
        "description": "Listagem de chatbots.",
        "parameters": [
          {
            "name": "Name",
            "in": "query",
            "description": "Filtro por nome do chatbot.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Types",
            "in": "query",
            "description": "Filtro por tipo de uso do chatbot. É possível informar mais de um tipo.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Reactive",
                  "Automation"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "ChannelIds",
            "in": "query",
            "description": "Filtro por ID do canal. É possível informar mais de um ID.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "DefaultDepartmentIds",
            "in": "query",
            "description": "Filtro por ID da equipe padrão. É possível informar mais de um ID.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "PublishStatuses",
            "in": "query",
            "description": "Filtro por status de publicação do chatbot. É possível informar mais de um status.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Not_Published",
                  "Publishing",
                  "Ready",
                  "Failed"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "AutomationUsages",
            "in": "query",
            "description": "Filtro por disponibilidade da automação. É possível informar mais de uma disponibilidade.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Api",
                  "Manual",
                  "Campaign",
                  "Sequence"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Número da página a ser obtida.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Tamanho da página a ser obtida.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicChatbotDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/message": {
      "get": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Listar",
        "description": "Listagem paginada de mensagens por ID de uma conversa.",
        "parameters": [
          {
            "name": "SessionId",
            "in": "query",
            "description": "ID da conversa.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Número da página a ser obtida.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Tamanho da página a ser obtida.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMessageDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/message/{id}/status": {
      "get": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Obter status por ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da mensagem.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMessageQuickSendDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/scheduled-message": {
      "get": {
        "tags": [
          "Mensagens Agendadas"
        ],
        "summary": "Listar",
        "description": "Listagem paginada de mensagens agendadas com filtros opcionais.",
        "parameters": [
          {
            "name": "ScheduledAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ScheduledAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "IncludeDetails",
            "in": "query",
            "description": "Lista de detalhes a serem incluídos na resposta",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Contact",
                  "Channel",
                  "User",
                  "Department",
                  "Template",
                  "Chatbot"
                ],
                "type": "string",
                "description": "Detalhes opcionais que podem ser incluídos na resposta de mensagem agendada"
              }
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Status da mensagem agendada para filtrar",
            "schema": {
              "enum": [
                "SCHEDULED",
                "PROCESSED",
                "SENT",
                "DELIVERED",
                "READ",
                "CANCELED",
                "FAILED"
              ],
              "type": "string"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "description": "Tipo da mensagem agendada para filtrar",
            "schema": {
              "enum": [
                "TEMPLATE",
                "CHATBOT"
              ],
              "type": "string"
            }
          },
          {
            "name": "From",
            "in": "query",
            "description": "ID ou número de telefone do canal cadastrado na conta.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "To",
            "in": "query",
            "description": "ID ou número de telefone do destinatário.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User",
            "in": "query",
            "description": "ID ou nome do usuário",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Department",
            "in": "query",
            "description": "ID ou nome da equipe",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Número da página a ser obtida.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Tamanho da página a ser obtida.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicScheduledMessageDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Mensagens Agendadas"
        ],
        "summary": "Criar",
        "description": "Cria uma nova mensagem agendada com os dados fornecidos.",
        "requestBody": {
          "description": "Dados para criação da mensagem agendada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateScheduledMessageDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateScheduledMessageDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateScheduledMessageDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicReqScheduledMessageDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/scheduled-message/{id}": {
      "get": {
        "tags": [
          "Mensagens Agendadas"
        ],
        "summary": "Obter por ID",
        "description": "Retorna os detalhes de uma mensagem agendada específica.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da mensagem agendada",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "includeDetails",
            "in": "query",
            "description": "Detalhes adicionais a serem incluídos",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Contact",
                  "Channel",
                  "User",
                  "Department",
                  "Template",
                  "Chatbot"
                ],
                "type": "string",
                "description": "Detalhes opcionais que podem ser incluídos na resposta de mensagem agendada"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicScheduledMessageDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Mensagens Agendadas"
        ],
        "summary": "Atualizar",
        "description": "Atualiza uma mensagem agendada existente. Mensagens já enviadas não podem ser editadas.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da mensagem agendada",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados para atualização",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateScheduledMessageDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateScheduledMessageDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateScheduledMessageDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicReqScheduledMessageDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/send/chatbot/{id}": {
      "get": {
        "tags": [
          "Envios (Msg/Otp/Bot)"
        ],
        "summary": "Chatbot status",
        "description": "Consulta o status atual de um disparo de chatbot enfileirado anteriormente pelos endpoints de envio.<br />\r\nO parâmetro id aceita o ID retornado no momento do envio.<br />\r\nEste endpoint tem rate limit individual e permite 1000 requisições a cada 2 minutos.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do disparo para consultar o status.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicRespSendMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/send/message/{id}": {
      "get": {
        "tags": [
          "Envios (Msg/Otp/Bot)"
        ],
        "summary": "Mensagem status",
        "description": "Consulta o status atual de uma mensagem enviada anteriormente pelos endpoints de envio.\r\nO parâmetro id aceita o ID da mensagem retornado no momento do envio.\r\nEste endpoint tem rate limit individual e permite 1000 requisições a cada 2 minutos.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da mensagem para consultar o status.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicRespSendMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/send/otp/{id}": {
      "get": {
        "tags": [
          "Envios (Msg/Otp/Bot)"
        ],
        "summary": "OTP status",
        "description": "Consulta o status atual de uma mensagem OTP enviada anteriormente.\r\nO parâmetro id aceita o ID da mensagem ou o SenderId informado no envio.\r\nEste endpoint tem rate limit individual e permite 1000 requisições a cada 2 minutos.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da mensagem ou SenderId para consultar o status.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSendOtpStatusDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/sequence": {
      "get": {
        "tags": [
          "Sequências"
        ],
        "summary": "Listar",
        "description": "Listagem paginada de sequências.",
        "parameters": [
          {
            "name": "IncludeDetails",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "ContactExecutingCount",
                  "ExecutionStats"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "Name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ContactId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Número da página a ser obtida.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Tamanho da página a ser obtida.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSequenceDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/session/{id}/message": {
      "get": {
        "tags": [
          "Conversas"
        ],
        "summary": "Listar mensagens",
        "description": "Listagem paginada de mensagens por ID de uma conversa.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da conversa.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Número da página a ser obtida.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Tamanho da página a ser obtida.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMessageDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Conversas"
        ],
        "summary": "Enviar mensagem",
        "description": "Este endpoint segue as mesmas regras do canal de atendimento, por exemplo: uma conversa só pode ser iniciada no WhatsApp utilizando um modelo de mensagem.<br />Caso o contato não esteja cadastrado, ele será cadastrado automaticamente antes do envio.\r\nO envio da mensagem será assincrono, ao enviar a mensagem será salva em uma fila de disparo, e será processada posteriormente.\r\nPara verificar a situação do envio, consulte pelo endereço /chat/v1/message/{}/status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados para envio da mensagem.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicQuickSendBodyDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicQuickSendBodyDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicQuickSendBodyDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicQuickMessageDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/session/{id}/note": {
      "get": {
        "tags": [
          "Conversas"
        ],
        "summary": "Listar notas internas",
        "description": "Este endpoint permite a listagem de notas internas de um atendimento.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Número da página a ser obtida.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Tamanho da página a ser obtida.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMessageDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Conversas"
        ],
        "summary": "Salvar nota interna",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicNoteSendBodyDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicNoteSendBodyDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicNoteSendBodyDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMessageDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/template": {
      "get": {
        "tags": [
          "Modelos de Mensagem"
        ],
        "summary": "Listar",
        "description": "Listagem paginada de modelos de mensagem.",
        "parameters": [
          {
            "name": "Archived",
            "in": "query",
            "description": "Filtro por modelos de mensagem arquivados.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Name",
            "in": "query",
            "description": "Filtro por nome do modelo de mensagem.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SearchableText",
            "in": "query",
            "description": "Filtro por conteúdo do modelo de mensagem.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ChannelId",
            "in": "query",
            "description": "Filtro por id do canal.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ApprovedOnly",
            "in": "query",
            "description": "Filtro por status do modelo de mensagem.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "description": "Filtro por tipo do modelo de mensagem.",
            "schema": {
              "enum": [
                "QUICKREPLY",
                "ATTENDANCE",
                "CAMPAIGN",
                "SEQUENCE",
                "SCHEDULEDMESSAGE",
                "AUTHENTICATION"
              ],
              "type": "string"
            }
          },
          {
            "name": "IncludeDetails",
            "in": "query",
            "description": "Detalhes que devem ser incluidos na resposta.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "All",
                  "Params",
                  "File",
                  "Interactive"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Número da página a ser obtida.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Tamanho da página a ser obtida.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicTemplateDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/sequence/{id}/contact": {
      "get": {
        "tags": [
          "Sequências"
        ],
        "summary": "Listar contatos",
        "description": "Listagem paginada de contatos da sequência.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da sequência.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "IncludeDetails",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "ContactDetails"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "Name",
            "in": "query",
            "description": "Nome do contato.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ContactId",
            "in": "query",
            "description": "Id do contato.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PhoneNumber",
            "in": "query",
            "description": "Número do contato.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Número da página a ser obtida.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Tamanho da página a ser obtida.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSequenceContactDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/session": {
      "get": {
        "tags": [
          "Conversas"
        ],
        "summary": "Listar",
        "description": "Listagem paginada de conversas.",
        "parameters": [
          {
            "name": "Status",
            "in": "query",
            "description": "Filtro por status da conversa.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "UNDEFINED",
                  "STARTED",
                  "PENDING",
                  "IN_PROGRESS",
                  "COMPLETED",
                  "HIDDEN"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "DepartmentId",
            "in": "query",
            "description": "Filtro por ID da equipe.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "UserId",
            "in": "query",
            "description": "Filtro por ID do usuário.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "TagsId",
            "in": "query",
            "description": "Filtro por IDs de etiquetas",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "TagsName",
            "in": "query",
            "description": "Filtro por nomes de etiquetas",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "ChannelsId",
            "in": "query",
            "description": "Filtro por ID de canais",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "ContactId",
            "in": "query",
            "description": "Filtro por ID do contato.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "EndAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ActiveAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ActiveAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "LastInteractionAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "LastInteractionAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "IncludeDetails",
            "in": "query",
            "description": "Inclua detalhes de outras entidades no resultado da sua busca.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Undefined",
                  "AgentDetails",
                  "DepartmentsDetails",
                  "ContactDetails",
                  "ChannelTypeDetails",
                  "ClassificationDetails",
                  "ChannelDetails"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "Metadata",
            "in": "query",
            "description": "Filtro por metadados.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string",
                "nullable": true
              }
            }
          },
          {
            "name": "Type",
            "in": "query",
            "description": "Filtro por tipo da conversa.",
            "schema": {
              "enum": [
                "INDIVIDUAL",
                "GROUP"
              ],
              "type": "string"
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Número da página a ser obtida.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Tamanho da página a ser obtida.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSessionDTOV2PublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/session/{id}": {
      "get": {
        "tags": [
          "Conversas"
        ],
        "summary": "Obter por ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da conversa.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "includeDetails",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Undefined",
                  "AgentDetails",
                  "DepartmentsDetails",
                  "ContactDetails",
                  "ChannelTypeDetails",
                  "ClassificationDetails",
                  "ChannelDetails"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSessionDTOV2"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/chatbot/send": {
      "post": {
        "tags": [
          "Chatbots"
        ],
        "summary": "Enviar chatbot",
        "description": "Permite iniciar a execução de um chatbot.<br />Durante a execução do chatbot, a interação com a conversa fica desabilitada para atendentes na central de atendimento.<br />A execução pode ser cancelada a qualquer momento, via API ou através da central de atendimento.<br />Este endpoint segue as mesmas regras do canal de atendimento, por exemplo: uma conversa só pode ser iniciada no WhatsApp utilizando um modelo de mensagem.<br />Caso o contato não esteja cadastrado, ele será cadastrado automaticamente antes do envio.",
        "requestBody": {
          "description": "Parâmetros para iniciar o chatbot.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendBotDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendBotDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendBotDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSessionDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/message/send": {
      "post": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Enviar",
        "description": "Este endpoint segue as mesmas regras do canal de atendimento, por exemplo: uma conversa só pode ser iniciada no WhatsApp utilizando um modelo de mensagem.<br />Caso o contato não esteja cadastrado, ele será cadastrado automaticamente antes do envio.<br />O envio da mensagem será assincrono, ao enviar a mensagem será salva em uma fila de disparo, e será processada posteriormente.<br />Para verificar a situação do envio, consulte pelo endereço /chat/v1/message/{id}/status",
        "requestBody": {
          "description": "Dados para envio da mensagem.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqQuickSendMessageDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqQuickSendMessageDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqQuickSendMessageDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicQuickMessageDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/message/send-sync": {
      "post": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Enviar síncrono",
        "description": "Este endpoint segue as mesmas regras do canal de atendimento, por exemplo: uma conversa só pode ser iniciada no WhatsApp utilizando um modelo de mensagem.<br />Caso o contato não esteja cadastrado, ele será cadastrado automaticamente antes do envio.<br />O envio da mensagem será síncrono, então ele pode demorar um tempo até que o servidor do canal de atencimento responda com um status válido para a mensagem.<br />O tempo máximo que este metodo esperará uma resposta é de 25 segundos, após este tempo ele entregará a última situação da mensagem;",
        "requestBody": {
          "description": "Dados para envio da mensagem.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqQuickSendMessageDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqQuickSendMessageDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqQuickSendMessageDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMessageDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/scheduled-message/batch-cancel": {
      "post": {
        "tags": [
          "Mensagens Agendadas"
        ],
        "summary": "Cancelar em massa",
        "description": "Cancela em massa mensagens agendadas. Apenas mensagens com status agendado podem ser canceladas.",
        "requestBody": {
          "description": "Lista de IDs das mensagens a serem canceladas",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicScheduledMessageDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/scheduled-message/{id}/cancel": {
      "post": {
        "tags": [
          "Mensagens Agendadas"
        ],
        "summary": "Cancelar",
        "description": "Cancela uma mensagem agendada específica. Apenas mensagens com status agendado podem ser canceladas.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da mensagem agendada",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/send/audio": {
      "post": {
        "tags": [
          "Envios (Msg/Otp/Bot)"
        ],
        "summary": "Áudio",
        "description": "Envia uma mensagem de áudio para um contato.\r\nO campo FileIdOrUrl é obrigatório; informe uma URL pública ou o ID de um arquivo previamente cadastrado.\r\nO arquivo deve seguir as regras do canal de atendimento (formato e tamanho).\r\nO campo CallbackUrl permite receber webhook quando a mensagem for entregue ou falhar.\r\nEste endpoint tem rate limit individual e permite 1000 requisições a cada 2 minutos.",
        "requestBody": {
          "description": "Dados para envio do áudio.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendMediaAudioDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendMediaAudioDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendMediaAudioDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicRespSendMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/send/chatbot": {
      "post": {
        "tags": [
          "Envios (Msg/Otp/Bot)"
        ],
        "summary": "Chatbot",
        "description": "Enfileira o disparo de um chatbot para um contato.<br />\r\nO processamento ocorre de forma assíncrona após o retorno deste endpoint.<br />\r\nEste endpoint segue as mesmas regras do canal de atendimento, por exemplo: uma conversa só pode ser iniciada no WhatsApp utilizando um modelo de mensagem.<br />\r\nCaso o contato não esteja cadastrado, ele será cadastrado automaticamente antes do envio.<br />\r\nEste endpoint tem rate limit individual e permite 1000 requisições a cada 2 minutos.",
        "requestBody": {
          "description": "Dados para disparo do chatbot.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendBotDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendBotDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendBotDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicRespSendMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/send/chatbot/batch": {
      "post": {
        "tags": [
          "Envios (Msg/Otp/Bot)"
        ],
        "summary": "Chatbot (em lote)",
        "description": "Enfileira o disparo de um chatbot para múltiplos contatos em uma única requisição.<br />\r\nO campo BotKey é compartilhado por todos os destinatários.<br />\r\nCada item da lista deve conter o destinatário (To) ou o ID da conversa (SessionId).<br />\r\nO processamento ocorre de forma assíncrona após o retorno deste endpoint.<br />\r\nEste endpoint tem rate limit individual e permite 1000 requisições a cada 2 minutos.",
        "requestBody": {
          "description": "Dados para disparo em lote, incluindo chatbot e lista de destinatários.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendBotBatchDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendBotBatchDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendBotBatchDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicRespSendMessagesDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/send/document": {
      "post": {
        "tags": [
          "Envios (Msg/Otp/Bot)"
        ],
        "summary": "Documento",
        "description": "Envia uma mensagem de documento para um contato.\r\nO campo FileIdOrUrl é obrigatório; informe uma URL pública ou o ID de um arquivo previamente cadastrado.\r\nO arquivo deve seguir as regras do canal de atendimento (formato e tamanho).\r\nO campo CallbackUrl permite receber webhook quando a mensagem for entregue ou falhar.\r\nEste endpoint tem rate limit individual e permite 1000 requisições a cada 2 minutos.",
        "requestBody": {
          "description": "Dados para envio do documento.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendMediaDocumentDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendMediaDocumentDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendMediaDocumentDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicRespSendMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/send/image": {
      "post": {
        "tags": [
          "Envios (Msg/Otp/Bot)"
        ],
        "summary": "Imagem",
        "description": "Envia uma mensagem de imagem para um contato.\r\nO campo FileIdOrUrl é obrigatório; informe uma URL pública ou o ID de um arquivo previamente cadastrado.\r\nO arquivo deve seguir as regras do canal de atendimento (formato e tamanho).\r\nO campo CallbackUrl permite receber webhook quando a mensagem for entregue ou falhar.\r\nEste endpoint tem rate limit individual e permite 1000 requisições a cada 2 minutos.",
        "requestBody": {
          "description": "Dados para envio da imagem.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendMediaImageDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendMediaImageDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSendMediaImageDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicRespSendMessageDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/send/otp": {
      "post": {
        "tags": [
          "Envios (Msg/Otp/Bot)"
        ],
        "summary": "OTP",
[...]
