{
  "openapi": "3.0.1",
  "info": {
    "title": "Core",
    "description": "",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.wts.chat/core",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/v1/agent/{id}": {
      "delete": {
        "tags": [
          "Usuários"
        ],
        "summary": "Excluir",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do usuário",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Parâmetros para remoção",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAgentDepartmentDeleteDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAgentDepartmentDeleteDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAgentDepartmentDeleteDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "Usuários"
        ],
        "summary": "Obter por ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do usuário",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Usuários"
        ],
        "summary": "Atualizar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do usuário",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Campos a serem atualizados",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentUpdatePartialDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentUpdatePartialDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentUpdatePartialDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/department/{id}": {
      "delete": {
        "tags": [
          "Equipes"
        ],
        "summary": "Excluir",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "Equipes"
        ],
        "summary": "Obter por ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "includeDetails",
            "in": "query",
            "schema": {
              "enum": [
                "All",
                "Agents",
                "Channels"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDepartmentDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Equipes"
        ],
        "summary": "Atualizar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da equipe.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados para atualização da equipe.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateDepartmentDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateDepartmentDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateDepartmentDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDepartmentDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/portfolio/{id}/contact": {
      "delete": {
        "tags": [
          "Carteiras"
        ],
        "summary": "Remover contato",
        "description": "Remova um contato de uma carteira.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id da carteira.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Filtro de busca do contato.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactPortfolioDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactPortfolioDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactPortfolioDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "Carteiras"
        ],
        "summary": "Listar contatos",
        "description": "Listagem de contatos associados a uma carteira.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id da carteira.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.ApplyCompanyTimezone",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CreatedAt.IsNull",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.ApplyCompanyTimezone",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "UpdatedAt.IsNull",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ContactIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderByDesc",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TimestampField",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TimestampFilter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "NextPageToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "schema": {
              "enum": [
                "Undefined",
                "PageNumber",
                "Timestamp",
                "Token"
              ],
              "type": "string"
            }
          },
          {
            "name": "SkipCount",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactPortfolioDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Carteiras"
        ],
        "summary": "Adicionar contato",
        "description": "Adicione um contato em uma carteira.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id da carteira.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Filtro de busca do contato.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactPortfolioDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactPortfolioDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactPortfolioDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactPortfolioDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/portfolio/{id}/contact/batch": {
      "delete": {
        "tags": [
          "Carteiras"
        ],
        "summary": "Remover contatos",
        "description": "Remova contatos de uma carteira adicionando um filtro.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id da carteira.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Filtro de busca dos contatos.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactsPortfolioDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactsPortfolioDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactsPortfolioDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Carteiras"
        ],
        "summary": "Adicionar contatos",
        "description": "Adicione contatos em uma carteira adicionando um filtro.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id da carteira.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Filtro de busca dos contatos.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactsPortfolioDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactsPortfolioDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRequestContactsPortfolioDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactPortfolioDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/tag/{id}": {
      "delete": {
        "tags": [
          "Etiquetas"
        ],
        "summary": "Excluir",
        "description": "Exclui uma etiqueta. Quando a etiqueta estiver vinculada a contatos, a exclusão é recusada até que seja\r\nconfirmada com `removeFromContacts`, pois ela será removida de todos os contatos associados.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da etiqueta.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Confirmação da remoção dos contatos vinculados.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqDeleteTagDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqDeleteTagDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqDeleteTagDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Etiquetas"
        ],
        "summary": "Atualizar",
        "description": "Atualiza o nome e a cor de uma etiqueta. Quando a cor é omitida, a cor atual é mantida.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da etiqueta.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados da etiqueta.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateTagDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateTagDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateTagDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicTagDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/webhook/subscription/{subscriptionId}": {
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Remove assinatura",
        "description": "Remove assinatura de webhook.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "ID da assinatura de webhook.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Busca assinatura por ID",
        "description": "Busca assinatura de webhook através do ID.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "ID da assinatura de webhook.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWebhookSubscriptionDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Atualiza assinatura",
        "description": "Atualiza assinatura de webhook.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "ID da assinatura de webhook.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Parâmetros para atualização da assinatura de webhook.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateWebhookSubscriptionDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateWebhookSubscriptionDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateWebhookSubscriptionDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWebhookSubscriptionDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/agent": {
      "get": {
        "tags": [
          "Usuários"
        ],
        "summary": "Listar",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicAgentDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Usuários"
        ],
        "summary": "Criar",
        "requestBody": {
          "description": "Dados do usuário",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentCreateDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentCreateDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentCreateDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/company/officehours": {
      "get": {
        "tags": [
          "Horários de Atendimento"
        ],
        "summary": "Obter",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCompanyOfficeHoursDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/contact": {
      "get": {
        "tags": [
          "Contatos"
        ],
        "summary": "Listar",
        "description": "Listagem paginada de contatos. Para resultados mais específicos, utilize o endpoint `/filter`.",
        "parameters": [
          {
            "name": "IncludeDetails",
            "in": "query",
            "description": "Detalhes que devem ser incluídos na resposta.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Tags",
                  "CustomFields",
                  "Portfolios"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Status dos contatos a serem listados. Caso não informado, o valor padrão é ACTIVE.",
            "schema": {
              "enum": [
                "ACTIVE",
                "ARCHIVED",
                "BLOCKED"
              ],
              "type": "string",
              "default": "ACTIVE"
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Número da página a ser obtida.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Tamanho da página a ser obtida.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Contatos"
        ],
        "summary": "Criar",
        "requestBody": {
          "description": "Dados para criação do contato.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateContactIndividualDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateContactIndividualDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateContactIndividualDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/contact/custom-field": {
      "get": {
        "tags": [
          "Contatos"
        ],
        "summary": "Campos personalizados",
        "parameters": [
          {
            "name": "NestedList",
            "in": "query",
            "description": "Determina a estrutura da lista retornada. Se verdadeiro, os campos serão retornados de forma aninhada, isto é, estruturado em grupos.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicCustomFieldDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/contact/{id}": {
      "get": {
        "tags": [
          "Contatos"
        ],
        "summary": "Obter por ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do contato",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "IncludeDetails",
            "in": "query",
            "description": "Detalhes que devem ser incluídos na resposta.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Tags",
                  "CustomFields",
                  "Portfolios"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/contact/phonenumber/{phone}": {
      "get": {
        "tags": [
          "Contatos"
        ],
        "summary": "Obter por Número de telefone",
        "parameters": [
          {
            "name": "phone",
            "in": "path",
            "description": "Número de telefone",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IncludeDetails",
            "in": "query",
            "description": "Detalhes que devem ser incluídos na resposta.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Tags",
                  "CustomFields",
                  "Portfolios"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Contatos"
        ],
        "summary": "Atualizar por Número de telefone",
        "parameters": [
          {
            "name": "phone",
            "in": "path",
            "description": "Número de telefone.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados para atualização do contato.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/custom-field": {
      "get": {
        "tags": [
          "Campos"
        ],
        "summary": "Listar",
        "parameters": [
          {
            "name": "EntityType",
            "in": "query",
            "description": "Tipo de entidade do campo personalizado.",
            "schema": {
              "enum": [
                "CONTACT",
                "PANEL"
              ],
              "type": "string",
              "default": "CONTACT"
            }
          },
          {
            "name": "NestedList",
            "in": "query",
            "description": "Determina a estrutura da lista retornada. Se verdadeiro, os campos serão retornados de forma aninhada, isto é, estruturado em grupos.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicCustomFieldDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/department/{id}/channel": {
      "get": {
        "tags": [
          "Equipes"
        ],
        "summary": "Listar canais",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da equipe",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDepartmentListChannelDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/portfolio": {
      "get": {
        "tags": [
          "Carteiras"
        ],
        "summary": "Listar",
        "description": "Listagem paginada de carteiras.",
        "parameters": [
          {
            "name": "IncludeDetails",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Departments",
                  "ContactCount"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "CreatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.Before",
            "in": "query",
            "description": "Limite superior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "UpdatedAt.After",
            "in": "query",
            "description": "Limite inferior de busca, sempre em fuso horário UTM.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Número da página a ser obtida.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Tamanho da página a ser obtida.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderDirection",
            "in": "query",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPortfolioDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/tag": {
      "get": {
        "tags": [
          "Etiquetas"
        ],
        "summary": "Listar",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicTagDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Etiquetas"
        ],
        "summary": "Criar",
        "description": "Cria uma etiqueta na conta. A cor define automaticamente a cor do texto; quando omitida, a etiqueta é criada em `GRAY_600`.",
        "requestBody": {
          "description": "Dados da etiqueta.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateTagDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateTagDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateTagDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicTagDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/tag/color": {
      "get": {
        "tags": [
          "Etiquetas"
        ],
        "summary": "Listar cores",
        "description": "Listagem das cores disponíveis para etiquetas. O valor de `color` é o que deve ser informado na criação e na atualização.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicTagColorDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/webhook/event": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Listar eventos",
        "description": "Listagem dos eventos de webhook que podem ser assinados.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicWebhookEventDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/webhook/subscription": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Listar assinaturas",
        "description": "Listagem das assinaturas de webhook ativas e inativas.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicWebhookSubscriptionDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Cria assinatura",
        "description": "Cria assinatura de webhook.",
        "requestBody": {
          "description": "Parâmetros para criação da assinatura de webhook.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateWebhookSubscriptionDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateWebhookSubscriptionDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqCreateWebhookSubscriptionDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWebhookSubscriptionDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/department": {
      "get": {
        "tags": [
          "Equipes"
        ],
        "summary": "Listar",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicDepartmentDTOV2"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/file": {
      "get": {
        "tags": [
          "Arquivos"
        ],
        "summary": "Obter url para upload",
        "description": "Envie os metadados do arquivo e você receberá uma URL e deverá fazer upload para ela usando o método PUT<br /> Após enviar o conteúdo do arquivo, faça uma chamada para o endpont POST /core/v2/file",
        "parameters": [
          {
            "name": "Type",
            "in": "query",
            "description": "Tipo do arquivo\r\nSe informado o tipo UNDEFINED o sistema tentará identificar o tipo do arquivo\r\nArquivos do tipo DOCUMENT não passam por transformação ou compressão, mas arquivos do tipo IMAGE e VIDEO são transformados para que sejam compatíveis com todas as plataformas.",
            "required": true,
            "schema": {
              "enum": [
                "UNDEFINED",
                "PDF",
                "EXCEL",
                "WORD",
                "IMAGE",
                "AUDIO",
                "VIDEO",
                "DOCUMENT"
              ],
              "type": "string"
            }
          },
          {
            "name": "Name",
            "in": "query",
            "description": "Nome do arquivo, com extensão (ex.: paisagem.jpg)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MimeType",
            "in": "query",
            "description": "Mimetype do arquivo. Se não informado ele será definido pelo tipo ou extensão do arquivo",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicUrlUploadFileV2DTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Arquivos"
        ],
        "summary": "Salvar arquivo",
        "description": "Após o upload do arquivo na URL fornecida na rota GET /core/v2/file execute este metodo para obter o ID do arquivo<br />O Id do arquivo pode ser fornecido no envio de mensagens. <br /><br />O FileId pode ser reaproveitado, não sendo necessário novos uploads para o mesmo arquivo.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqFileSaveV2DTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqFileSaveV2DTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqFileSaveV2DTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicFileV2DTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/agent/{id}/departments": {
      "post": {
        "tags": [
          "Usuários"
        ],
        "summary": "Atualizar equipes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do usuário",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados de atualização dos equipes. Use action: \"ReplaceAll\", \"UPSERT\" ou \"REMOVE\"",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentDepartmentUpdateDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentDepartmentUpdateDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentDepartmentUpdateDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/agent/{id}/logout": {
      "post": {
        "tags": [
          "Usuários"
        ],
        "summary": "Fazer logout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do usuário",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/agent/{id}/status": {
      "post": {
        "tags": [
          "Usuários"
        ],
        "summary": "Alterar status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do usuário",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados do novo status",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentChangeStatusDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentChangeStatusDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAgentChangeStatusDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgentDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/contact/filter": {
      "post": {
        "tags": [
          "Contatos"
        ],
        "summary": "Filtrar",
        "description": "Filtragem paginada de contatos.",
        "requestBody": {
          "description": "Parâmetros para filtragem dos contatos. Os filtros são aditivos.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqFilterContactDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqFilterContactDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqFilterContactDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTOPublicPageListDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/contact/{id}/tags": {
      "post": {
        "tags": [
          "Contatos"
        ],
        "summary": "Atualizar etiquetas",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do contato ou número de telefone.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Lista de etiquetas e operação esperada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactTagDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactTagDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactTagDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/contact/phonenumber/{phone}/tags": {
      "post": {
        "tags": [
          "Contatos"
        ],
        "summary": "Atualizar etiquetas por Número de telefone",
        "parameters": [
          {
            "name": "phone",
            "in": "path",
            "description": "Número de telefone",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Lista de etiquetas e operação esperada",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactTagDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactTagDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactTagDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/department": {
      "post": {
        "tags": [
          "Equipes"
        ],
        "summary": "Criar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSaveDepartmentDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSaveDepartmentDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqSaveDepartmentDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDepartmentDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/contact/batch": {
      "post": {
        "tags": [
          "Contatos"
        ],
        "summary": "Salvar em massa",
        "description": "Permite salvar até 100 contatos em uma única requisição.<br />Se um contato com o mesmo número de telefone, Instagram ou endereço de email já existir, este apenas será atualizado.",
        "requestBody": {
          "description": "Dados para salvar os contatos.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqBatchCreateContactV2DTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqBatchCreateContactV2DTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqBatchCreateContactV2DTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicContactDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/department/{id}/agents": {
      "put": {
        "tags": [
          "Equipes"
        ],
        "summary": "Atualizar usuários",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da equipe",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados de atualização dos equipes. Use action: \"REPLACEALL\", \"UPSERT\" ou \"REMOVE\".",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateDepartmentAgent"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateDepartmentAgent"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateDepartmentAgent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicReqUpdateDepartmentAgent"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/contact/{id}": {
      "put": {
        "tags": [
          "Contatos"
        ],
        "summary": "Atualizar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do contato.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Dados para atualização do contato.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicReqUpdateContactDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContactDTO"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalException"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "InternalException": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "key": {
            "type": "string",
            "nullable": true
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "isUnsolvableError": {
            "type": "boolean"
          },
          "details": {
            "nullable": true
          },
          "id": {
            "$ref": "#/components/schemas/InternalExceptionId"
          },
          "httpStatusCode": {
            "enum": [
              "Continue",
              "SwitchingProtocols",
              "Processing",
              "EarlyHints",
              "OK",
              "Created",
              "Accepted",
              "NonAuthoritativeInformation",
              "NoContent",
              "ResetContent",
              "PartialContent",
              "MultiStatus",
              "AlreadyReported",
              "IMUsed",
              "MultipleChoices",
              "Ambiguous",
              "MovedPermanently",
              "Moved",
              "Found",
              "Redirect",
              "SeeOther",
              "RedirectMethod",
              "NotModified",
              "UseProxy",
              "Unused",
              "TemporaryRedirect",
              "RedirectKeepVerb",
              "PermanentRedirect",
              "BadRequest",
              "Unauthorized",
              "PaymentRequired",
              "Forbidden",
              "NotFound",
              "MethodNotAllowed",
              "NotAcceptable",
              "ProxyAuthenticationRequired",
              "RequestTimeout",
              "Conflict",
              "Gone",
              "LengthRequired",
              "PreconditionFailed",
              "RequestEntityTooLarge",
              "RequestUriTooLong",
              "UnsupportedMediaType",
              "RequestedRangeNotSatisfiable",
              "ExpectationFailed",
              "MisdirectedRequest",
              "UnprocessableEntity",
              "Locked",
              "FailedDependency",
              "UpgradeRequired",
              "PreconditionRequired",
              "TooManyRequests",
              "RequestHeaderFieldsTooLarge",
              "UnavailableForLegalReasons",
              "InternalServerError",
              "NotImplemented",
              "BadGateway",
              "ServiceUnavailable",
              "GatewayTimeout",
              "HttpVersionNotSupported",
              "VariantAlsoNegotiates",
              "InsufficientStorage",
              "LoopDetected",
              "NotExtended",
              "NetworkAuthenticationRequired"
            ],
            "type": "string"
          },
          "version": {
            "type": "string",
            "nullable": true
          },
          "environment": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InternalExceptionId": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "nullable": true
          },
          "shortValue": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RequestAgentDepartmentDeleteDTO": {
        "type": "object",
        "properties": {
          "sessionResolution": {
            "enum": [
              "COMPLETE",
              "TRANSFER",
              "RETURN_TO_PENDING"
            ],
            "type": "string",
            "nullable": true
          },
          "transferUserId": {
            "type": "string",
            "description": "ID do usuário que receberá os atendimentos em andamento. Obrigatório quando o campo sessionResolution for igual a TRANSFER",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PublicRequestContactPortfolioDTO": {
        "type": "object",
        "properties": {
          "contactId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PublicRequestContactsPortfolioDTO": {
        "type": "object",
        "properties": {
          "contactIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "phoneNumbers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PublicReqDeleteTagDTO": {
        "type": "object",
        "properties": {
          "removeFromContacts": {
            "type": "boolean",
            "description": "Confirma a exclusão de uma etiqueta que está vinculada a contatos, removendo-a de todos eles.\r\nSem esta confirmação, a exclusão é recusada quando existir ao menos um contato vinculado.",
            "default": false,
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PublicAgentDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "shortName": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "phoneNumberFormatted": {
            "type": "string",
            "nullable": true
          },
          "profile": {
            "type": "string",
            "nullable": true
          },
          "isOwner": {
            "type": "boolean"
          },
          "departments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicAgentDepartmentDTO"
            },
            "nullable": true
          },
          "availability": {
            "enum": [
              "AVAILABLE",
              "UNAVAILABLE"
            ],
            "type": "string",
            "description": "Enum que representa o status de disponibilidade de um usuário"
          }
        },
        "additionalProperties": false
      },
      "PublicAgentDepartmentDTO": {
        "type": "object",
        "properties": {
          "agentId": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "departmentId": {
            "type": "string",
            "format": "uuid"
          },
          "isAgent": {
            "type": "boolean"
          },
          "isSupervisor": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "PublicCompanyOfficeHoursDTO": {
        "type": "object",
        "properties": {
          "limitHours": {
            "type": "boolean",
            "description": "Indica se há limite de horário de atendimento"
          },
          "offlineResponse": {
            "type": "string",
            "description": "Mensagem exibida quando a empresa está fora do horário de atendimento",
            "nullable": true
          },
          "timezoneDiff": {
            "type": "number",
            "description": "Diferença de fuso horário em relação ao UTC (em horas)",
            "format": "double",
            "nullable": true
          },
          "days": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicCompanyOfficeHoursDayDTO"
            },
            "description": "Configurações de horário por dia da semana",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Horário de funcionamento da empresa"
      },
      "PublicCompanyOfficeHoursDayDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador único do registro",
            "format": "uuid"
          },
          "dayWeek": {
            "type": "string",
            "description": "Dia da semana em inglês (MAIÚSCULO)",
            "nullable": true
          },
          "active": {
            "type": "boolean",
            "description": "Indica se o atendimento está ativo neste dia"
          },
          "periods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicCompanyOfficeHoursPeriodDTO"
            },
            "description": "Lista de períodos de atendimento (entrada e saída)",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Horário de funcionamento de um dia da semana"
      },
      "PublicCompanyOfficeHoursPeriodDTO": {
        "type": "object",
        "properties": {
          "startTime": {
            "type": "string",
            "description": "Horário de início do período (formato HH:mm)",
            "nullable": true
          },
          "endTime": {
            "type": "string",
            "description": "Horário de término do período (formato HH:mm)",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Período de atendimento com horário de entrada e saída"
      },
      "PublicContactDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "nameWhatsapp": {
            "type": "string",
            "nullable": true
          },
          "nameInstagram": {
            "type": "string",
            "nullable": true
          },
          "nameMessenger": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "phoneNumberFormatted": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "instagram": {
            "type": "string",
            "nullable": true
          },
          "messengerId": {
            "type": "string",
            "nullable": true
          },
          "annotation": {
            "type": "string",
            "nullable": true
          },
          "tagIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "tagNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "status": {
            "enum": [
              "ACTIVE",
              "ARCHIVED",
              "BLOCKED"
            ],
            "type": "string"
          },
          "origin": {
            "enum": [
              "CREATED_BY_USER",
              "CREATED_FROM_HUB",
              "IMPORTED"
            ],
            "type": "string"
          },
          "importedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "utm": {
            "$ref": "#/components/schemas/PublicUtmDTO"
          },
          "customFields": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "nullable": true
          },
          "portfolioIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "portfolioNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PublicContactDTOPublicPageListDTO": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "description": "Número da página a ser obtida.",
            "format": "int32",
            "default": 1
          },
          "pageSize": {
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "description": "Tamanho da página a ser obtida.",
            "format": "int32",
            "default": 15
          },
          "orderBy": {
            "type": "string",
            "description": "Nome do campo para ser utilizado como pivô da ordenação.",
            "nullable": true
          },
          "orderDirection": {
            "enum": [
              "ASCENDING",
              "DESCENDING"
            ],
            "type": "string",
            "description": "Determina se a ordenação deve ser crescente ou decrescente.",
            "nullable": true
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicContactDTO"
            },
            "nullable": true
          },
          "totalItems": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "hasMorePages": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "PublicUtmDTO": {
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "source": {
            "type": "string",
            "nullable": true
          },
          "clid": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "medium": {
            "type": "string",
            "nullable": true
          },
          "campaign": {
            "type": "string",
            "nullable": true
          },
          "content": {
            "type": "string",
            "nullable": true
          },
          "headline": {
            "type": "string",
            "nullable": true
          },
          "term": {
            "type": "string",
            "nullable": true
          },
          "referralUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PublicCustomFieldDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "parentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "type": {
            "enum": [
              "GROUP",
              "STRING",
              "TEXT",
              "INTEGER",
              "FLOAT",
              "SINGLESELECT",
              "MULTISELECT",
              "DATE",
              "TIME",
              "DATETIME",
              "BOOLEAN"
            ],
            "type": "string"
          },
          "entityType": {
            "enum": [
              "CONTACT",
              "PANEL"
            ],
            "type": "string"
          },
          "scopeId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "key": {
            "type": "string",
            "nullable": true
          },
          "position": {
            "type": "integer",
            "format": "int32"
          },
          "required": {
            "type": "boolean"
          },
          "visible": {
            "type": "boolean"
          },
          "isValueRange": {
            "type": "boolean"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicCustomFieldOptionDTO"
            },
            "nullable": true
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicCustomFieldDTO"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PublicCustomFieldOptionDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DepartmentChannelDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "number": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DepartmentDetailsDistributionConfigDTO": {
        "type": "object",
        "properties": {
          "expirationIsEnabled": {
            "type": "boolean"
          },
          "maximumDurationInMinutes": {
            "type": "integer",
            "format": "int32"
          },
          "inactivityTimeInMinutes": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "PublicDepartmentAgentDTO": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "departmentId": {
            "type": "string",
            "format": "uuid"
          },
          "isAgent": {
            "type": "boolean"
          },
          "isSupervisor": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "PublicDepartmentDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "directLinks": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "isDefault": {
            "type": "boolean"
          },
          "distribuitionEnabled": {
            "type": "boolean"
          },
          "restrictionType": {
            "enum": [
              "NONE",
              "DEPARTMENT_RESTRICTION",
              "USER_RESTRICTION"
            ],
            "type": "string"
          },
          "distributionConfig": {
            "$ref": "#/components/schemas/DepartmentDetailsDistributionConfigDTO"
          },
          "agents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicDepartmentAgentDTO"
            },
            "nullable": true
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DepartmentChannelDTO"
            },
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "isPrivate": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "PublicDepartmentListChannelDTO": {
        "type": "object",
        "properties": {
          "scope": {
            "enum": [
              "ALL",
              "NONE",
              "SELECTED"
            ],
            "type": "string"
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PublicPortfolioDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "active": {
            "type": "boolean"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "automaticAttribution": {
            "type": "boolean"
          },
          "expirationDurationInMonths": {
            "type": "integer",
            "format": "int32"
          },
          "contactsCount": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "enum": [
              "MULTIPLE",
              "SINGLE"
            ],
            "type": "string"
          },
          "departments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicPortfolioDepartmentDTO"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
[...]
